@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum/cuprum.woff2") format("woff2"),
	url("../fonts/cuprum/cuprum.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}	

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum/cuprumitalic.woff2") format("woff2"),
	url("../fonts/cuprum/cuprumitalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum/cuprumbold.woff2") format("woff2"),
	url("../fonts/cuprum/cuprumbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans/ptsans.woff2") format("woff2"),
	url("../fonts/ptsans/ptsans.woff") format("woff");
	font-weight: normal;
	font-style: normal;  
}

:root {
	--basic-white: #FFFFFF;
	--basic-black: #000000;
	--basic-purple: #32425C;
	--basic-red: #EE3643;
	--basic-blue: #32425C;
	--basic-dark-blue: #293449;
	--basic-orange: #FFD180;
	--basic-light-blue: #F1F5F7;
	--basic-green: #63A63E;
	--basic-gray: #A9A9A9;
	--basic-light-gray: #E5E5E5;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", "PT Sans", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 24px;
	background-color: var(--basic-white);
	color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

.visibility-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* кнопки */
.btn-green {
	font-family: inherit;
	background-color: var(--basic-green);
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
}

.btn-primary {
	font-family: inherit;
	background-color: var(--basic-light-blue);
	color: var(--basic-black);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.btn-reservation {
	font-family: inherit;
	color: var(--basic-white);
	background-color: var(--basic-green);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.user-btn {
	font-family: inherit;
	border: none;
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
}

.btn-transparent {
	font-family: inherit;
	background-color: var(--basic-white);
	color: var(--basic-white);
	font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.btn-red {
	font-family: inherit;
	color: var(--basic-white);
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-border-green {
	font-family: inherit;
	background-color: var(--basic-white);
	border: 1px solid var(--basic-green);
	color: var(--basic-purple);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	
}

.btn-purchase {
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
}

.btn-white {
	background-color: var(--basic-white);
	border: 1px solid var(--basic-light-gray);
	color: var(--basic-black);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
}

.btn-cabinet {
	font-family: inherit;
	color: var(--basic-blue);
	font-size: 16px;
    line-height: 18px;
	text-decoration: none;
}

.blue-box {
	background-color: var(--basic-light-blue);	
}

.logo-header {
	background-color: var(--basic-red);
}

.top-row {
	background-color: var(--basic-dark-blue);
	color: var(--basic-white);
}

.entry-field {
	font-family: inherit;
	background-color: var(--basic-dark-blue);	
	border: 0;
	font-size: 18px;
	line-height: 24px;
}

.entry-field::-webkit-input-placeholder{
	color: var(--basic-white);	
}

.entry-field::-placeholder {
	color: var(--basic-white);	
}

.link-header,
.main-nav-list,
.top-list,
.bottom-list,
.list-icons,
.items-user,
.options-list,
.nav-page,
.page-items {
	list-style-type: none;
}

.info .telephone a {
	color: var(--basic-red);
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
}

.info p {
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
}

.address {
	color: var(--basic-purple);
	font-size: 14px;
	line-height: 24px;
}

.user-account a {
	color: var(--basic-black);
}

.main-navigation {
	background-color: var(--basic-blue);	
}

.main-nav-list a,
.top-list a {
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.subtitle {
	font-family: "Cuprum", "Tahoma", "Arial", sans-serif;
	text-transform: uppercase;
	color: var(--basic-black);
	font-size: 30px;
	line-height: 30px;
}

.text {
	color: var(--basic-black);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.partners li {
	list-style-type: none;
}

.partners li:before {
    content: "—";
	color: var(--basic-black);
    position: relative;
    left: -5px;
	font-size: 18px;
	line-height: 24px;
}

.box-dark-blue {
	background-color: var(--basic-blue);
}

.logo-footer {
	background-color: var(--basic-red);
}

.footer-address {
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
}

.footer-tel {
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.bottom-list a {
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-orange);
}

.down-row {
	background-color: var(--basic-dark-blue);
}

.modal-widow-map,
.write-us-modal,
.grey-box, 
.close-modal,
.success{
	display: none;
}

.small-text {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.feedback a {
	color: var(--basic-orange);
}

.options {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
    font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
}

.breadcrumbs a {
	color: var(--basic-black);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.main-content h1 {
	background-color: var(--basic-light-blue);
	color: var(--basic-purple);
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
}

.widget {
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
}

.option-label {
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
}

.name-drill a {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: var(--basic-black);
	text-decoration: none;
}

.oldprice {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: var(--basic-gray);
	text-decoration-line: line-through;
}

.about-name-drill {
	background-color: var(--basic-light-blue);	
}

