@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum/cuprum.woff2") format("woff2"),
	url("../fonts/cuprum/cuprum.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}	

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum/cuprumitalic.woff2") format("woff2"),
	url("../fonts/cuprum/cuprumitalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum/cuprumbold.woff2") format("woff2"),
	url("../fonts/cuprum/cuprumbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans/ptsans.woff2") format("woff2"),
	url("../fonts/ptsans/ptsans.woff") format("woff");
	font-weight: normal;
	font-style: normal;  
}

:root {
	--basic-white: #FFFFFF;
	--basic-black: #000000;
	--basic-purple: #32425C;
	--basic-red: #EE3643;
	--basic-blue: #32425C;
	--basic-dark-blue: #293449;
	--basic-orange: #FFD180;
	--basic-light-blue: #F1F5F7;
	--basic-green: #63A63E;
	--basic-gray: #A9A9A9;
	--basic-light-gray: #E5E5E5;
	--basic-carrot: #FFBF47;
    --basic-bright-blue: #3BBCE3;
	--basic-lilac: #DC91D8;
	--basic-pale-green: #8ED78F;
	--basic-yellow: #FFC047;
	--basic-transparent: rgba(255, 255, 255, 0.3);
	--basic-transparent-dark: rgba(0, 0, 0, 0.25);
	--basic-beige: #F9F5F0;
	--basic-dark-beige: #F7F3EC;
	--basic-transparent-gray: rgba(0, 0, 0, 0.3);
	--basic-vinous: #BA2732;
	--basic-light-green: #5FBB2D;
	--basic-pale-white: rgba(255, 255, 255, 0.5);
	--basic-border-gray: #EAEAEA;
	--basic-shadow-dark: #293449;
	--basic-shadow-light :#405069;
	--basic-dark-gray: #D7DCDE;
	--basic-gray-smoky: #F2F6F8;
	--basic-color-blue: #212A3A;
	--basic-color-gray: #ABABAB;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: "Cuprum", "PT Sans", "Tahoma", sans-serif;
	font-size: 14px;
	line-height: 24px;
	background-color: var(--basic-white);
	color: var(--basic-black);
}

img {
	max-width: 100%;
	height: auto;
}

.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content auto min-content;
	align-content: start;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.visibility-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.link-header,
.main-nav-list,
.top-list,
.bottom-list,
.list-icons,
.items-user,
.options-list,
.nav-page,
.page-items,
.brends,
.services-items,
.sort-items {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* кнопки */
.btn-green {
	display: inline-block;
	vertical-align: top;
	font-family: inherit;
	background-color: var(--basic-green);
	color: var(--basic-white);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 54px;
	padding-right: 40px;
	margin-bottom: 10px;
	
}

.btn-primary {
    display: inline-block;
	vertical-align: top;
	font-family: inherit;
	background-color: var(--basic-dark-blue);
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	text-align: center;	
	padding-bottom: 9px;
	padding-top: 9px;
	padding-left: 26px;
	padding-right: 26px;
}

.btn-reservation {
	display: inline-block;
	font-family: inherit;
	color: var(--basic-white);
	background-color: var(--basic-green);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	vertical-align: top;
	text-align: center;	
	padding-bottom: 9px;
	padding-top: 9px;
	padding-left: 19px;
	padding-right: 16px;
}

.btn-reservation:hover, 
.btn-reservation:focus {
	background-color: var(--basic-light-green);
}

.btn-reservation:active {
	background-color: var(--basic-green);
	color: var(--basic-pale-white);
}

.user-btn {
	display: inline-block;
	font-family: inherit;
	border: none;
	background-color: var(--basic-white);
	color: var(--basic-black);
	font-size: 21px;
	line-height: 21px;
	text-decoration: none;
	text-align: center;	
	vertical-align: text-bottom;
	padding-left: 25px;
	padding-right: 24px;
	padding-bottom: 12px;
	padding-top: 12px;
	min-width: 49px;
	
}

.btn-transparent {
	display: inline-block;
	vertical-align: top;
	font-family: inherit;
	background-color: var(--basic-transparent);
	color: var(--basic-white);
	font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
	text-decoration: none;
	text-align: center;	
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 135px;
}

.btn-red {
	display: inline-block;
	font-family: inherit;
	color: var(--basic-white);
	background-color: var(--basic-red);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 9px;
	vertical-align: top;
	
}

.btn-border-green {
	display: inline-block;
	font-family: inherit;
	background-color: var(--basic-white);
	border: 1px solid var(--basic-green);
	color: var(--basic-purple);
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;	
	padding-top: 9px;
	padding-bottom: 9px;
	width: 134px;
	
}

.btn-purchase {
	background-color: var(--basic-red);
	color: var(--basic-white);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;	
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 32px;
	padding-right: 25px;
	vertical-align: bottom;
}

.btn-white {
	display: inline-block;
	background-color: var(--basic-white);
	border: 1px solid var(--basic-light-gray);
	color: var(--basic-black);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-decoration: none;
	text-align: center;	
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 79px;
	padding-right: 78px;
}

.btn-cabinet {
	font-family: inherit;
	color: var(--basic-blue);
	font-size: 16px;
    line-height: 18px;
	text-decoration: none;
	text-align: center;	
}

/* начало header */

.blue-box {
	background-color: var(--basic-light-blue);
	padding-bottom: 60px;
}

.upper-row .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.upper-row {
	background-color: var(--basic-dark-blue);
	color: var(--basic-white);
	min-height: 42px;	
}

.logo-header {
	display: inline-block;
	background-color: var(--basic-red);
	text-align: center;
	vertical-align: top;
	width: 220px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: -5px;
	border-bottom: 5px solid var(--basic-vinous);
	line-height: 0;
}

.logo-header:active {
	background-color: var(--basic-vinous);
} 

.entry-field {
	font-family: inherit;
	background-color: var(--basic-dark-blue);	
	font-size: 18px;
	line-height: 24px;
	width: 271px;	
	padding-bottom: 9px;
	padding-left: 43px;
	padding-top: 9px;
	padding-right: 20px;
	border: 0;
}

.icon {
	position: absolute;
	background-repeat: no-repeat;
	bottom: 5px;
	left: 10px;
	opacity: 0.3;
}

.search {
	border: 0;
	padding: 0;
	margin: 0;
	position: relative;
}

.link-header {
	display: flex;
	padding: 0;
	margin: 0;
	position: relative;
}


.link-header li:first-child::before {
	content: "";
	width: 20px;
	height: 16px;
	top: 13px;
	position: absolute;
	background-image: url(../img/icons/icon-bookmark.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.link-header li:nth-child(2)::before {
	content: "";
	width: 20px;
	height: 16px;
	top: 13px;
	position: absolute;
	background-image: url(../img/icons/icon-cart.svg);
	background-repeat: no-repeat;
	opacity: 0.3;	
}

.entry-field::-webkit-input-placeholder {
	color: var(--basic-white);	
}

.entry-field::placeholder {
	color: var(--basic-white);
}

.info {
	padding-bottom: 48px;
	padding-top: 48px;
}

.info .container {
	display: flex;	
	justify-content: space-between;
}

.info .telephone a {
	display: inline-block;
	color: var(--basic-red);
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

.info p {
	color: var(--basic-red);
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	width: 197px;
	margin: 0;
	padding-left: 31px;
}

.contacts {
    width: 270px;
	text-align: center;
}

.telephone {	
	border: 3px solid var(--basic-white);	
	padding-bottom: 7px;
	padding-top: 7px;
	position: relative;
}

.telephone::before {
	content: "";
	position: absolute;
	width: 19px;
	height: 19px;
	background-image: url(../img/icons/icon-phone.svg);
	background-repeat: no-repeat;
	left: 30px;
	top: 13px;
}

.address {
	color: var(--basic-purple);
	font-size: 14px;
	line-height: 24px;	
}

.user-account {
	display: flex;
    width: 279px;
	justify-content: flex-end;
	align-items: flex-start;
}

.user-name {
	width: 299px;
	position: relative;	
}

.login {
 	padding-left: 19px;
	margin-right: 10px;	 
}

.login img {
	padding-right: 6px;
}

.loged {
	padding-left: 21;
	padding-right: 0px;
}

.loged img {
	padding-right: 15px;
}

.exit img {
	position: absolute;
	top: 15px;
	right: 14px;
}


.loged-exit-container {
	display: flex;
	justify-content: flex-end;
}

.exit {
	text-decoration: none;
	margin: 0;
	padding: 0;
	padding-top: 12px;
}

.items-user {
	display: flex;	
	justify-content: center;
}

.items-user li {
	margin-left: 27px;
	margin-right: 27px;
}

.items-user::before {
	content: "";
	position: absolute;
	width: 5px;
	height: 5px;
	bottom: 14px;
	left: 135px;
	background: linear-gradient(0deg, #32425C, #32425C);
	border-radius: 5px;
	
}

.main-navigation {
	background-color: var(--basic-blue);
}

.main-nav-list {
	display: flex;
	justify-content: center;
}

.main-nav-list a {
	display: inline-block;
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 25px;
	padding-right: 25px;
	vertical-align: top;
}

.top-list a {
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

/* конец header */

/* начало footer  */

.box-dark-blue {
	background-color: var(--basic-blue);	
}

.top-row {
	display: grid;
	grid-template-columns: 220px 160px auto;
    grid-template-rows: min-content min-content;
	padding-bottom: 74px;	
}

.logo-footer {
	background-color: var(--basic-red);
	display: block;
	line-height: 0;
	border-bottom: 5px solid var(--basic-vinous);
	text-align: center;
	padding-top: 21px;
	padding-bottom: 21px;
	margin: 0;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.contacts-footer {	
	grid-column: 1 / 3;   
	grid-row-start: 2;
	margin: 0;
	padding-top: 22px;	
}

.footer-address {
	margin: 0;
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	padding-right: 40px;
}

.footer-tel {
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.navigation-footer {
	grid-column-start: 3;
	grid-row: 1 / -1;
	padding-top: 37px;
	padding-left: 0;
}

.сopyright {
	grid-column-start: 1;
	margin: 0;
} 

.top-list {
	display: flex;
	justify-content: flex-end;
	padding-left: 0;
	margin: 0;
}

.bottom-list {
	display: flex;	
	justify-content: flex-end;
    padding-left: 24px;
	padding-top: 34px;
	margin: 0;
}

.top-list li,
.bottom-list li {
	margin-left: 58px;
}

.top-list li:first-child,
.bottom-list li:first-child {
	margin-left: 0;
}

.bottom-list a {
	text-decoration: none;
}

.down-row {
	background-color: var(--basic-dark-blue);
}

.bottom-row {
	display: grid;
	grid-template-columns: 240px 1fr 300px;
	padding-top: 36px;
	padding-bottom: 34px;
}

.bottom-list a {
	font-size: 18px;
	line-height: 24px;
	color: var(--basic-orange);
}

.social-web{
	align-self: center;
	margin: 0;
	padding: 0;	
}

.list-icons {  
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.list-icons li {
	width: 44px;
    height: 44px;
    background: var(--basic-color-blue);
	margin-right: 1px;
	position: relative;
	border-radius: 50%;
}

.list-icons a {
	display: inline-block;
	vertical-align: top;	
	color: var(--basic-white);
}	

.vk::before {
	content: "";
	width: 25px;
	height: 16px;
	top: 15px;
	right: 10px;
	position: absolute;
	background-image: url(../img/icons/icon-vk.svg);
	background-repeat: no-repeat;
}

.fb::before {
	content: "";
	width: 12px;
	height: 22px;
	top: 12px;
	right: 16px;
	position: absolute;
	background-image: url(../img/icons/icon-fb.svg);
	background-repeat: no-repeat;
}

.ig::before {	
	content: "";
	width: 21px;
	height: 21px;
	top: 12px;
	right: 12px;
	position: absolute;
	background-image: url(../img/icons/icon-insta.svg);
	background-repeat: no-repeat;
}

.small-text {
	font-size: 16px;
	line-height: 18px;
	color: var(--basic-white);
}

.feedback a {
	color: var(--basic-orange);	
}

.feedback {
	display: flex;	
	justify-content: end
}

.mail {
	margin: 0;
}

.developed {	
	margin: 0;
}

.feedback a {
	color: var(--basic-orange);	
}

/* стили main */

.offers {
	display: grid;
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 123px 123px 123px;
	gap: 20px;
	margin-bottom: 59px;
	padding-top: 59px;
}

.title-category {
	color: var(--basic-white);
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 14px;
}

.category {
	position: relative;
	padding-left: 23px;
	padding-top: 20px;
	padding-bottom: 21px;
	padding-right: 110px;
	margin: 0;
}
.new {
	background-image: url(../img/decor/flag_new.svg);
	background-repeat: no-repeat;
	background-position: 230px 0px;
}

.category::before {
	content: "";
	position: absolute;
	right: 43px;
	bottom: 28px;
	width: 44px;
	height: 65px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.category-carrot {
	background-color: var(--basic-carrot);
}

.category-carrot::before {
	right: 43px;
	bottom: 27px;
	width: 44px;
	height: 65px;
	background-image: url(../img/icons/icon-bucket.svg);
}

.category-blue {
	background-color: var(--basic-bright-blue);
}
.category-blue::before {
	right: 37px;
	bottom: 28px;
	width: 75px;
	height: 65px;
	background-image: url(../img/icons/icon-drill.svg);
}

.category-lilac {
	background-color: var(--basic-lilac);
}

.category-lilac::before {
	right: 34px;
	bottom: 30px;
	width: 78px;
	height: 62px;
	background-image: url(../img/icons/icon-tractor.svg);
}

.category-green {
	grid-column-start: 3;
	background-color: var(--basic-pale-green);
}

.category-green::before {
	right: 38px;
	bottom: 24px;
	width: 60px;
	height: 72px;
	background-image: url(../img/icons/icon-discounts.svg);
}

.category-yellow {
	grid-column-start: 3;
	background-color: var(--basic-yellow);
}

.category-yellow::before {
	right: 34px;
	bottom: 28px;
	width: 78px;
	height: 64px;
	background-image: url(../img/icons/icon-delivery.svg);
}

/* слайдер */
.sliders {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 2 / -1;
	position: relative;	
}

.slider {
	display: none;
   
}

.current {
	display: block;
	
}

.slider-controls {
	position: absolute;
	 bottom: 36px;
     left: 295px;
     z-index: 20;
	 display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.point-active { 
background-color: var(--basic-red);
}


.title-container {
	background-color: var(--basic-transparent-dark);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 23px;
	padding-bottom: 16px;
	padding-left: 24px;
	padding-right: 25px;
}

.title-slider {
	color: var(--basic-white);
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 5px;
}

.slogan {
	color: var(--basic-white);
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

.btn-open {
	padding-left: 46px;
	padding-right: 46px;
	position: absolute;
	bottom: 27px;
	left: 24px;
}
/* конец слайдера */

.title-desc-wrap {
	background-color: var(--basic-beige);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 29px;
	padding-bottom: 30px;
	padding-left: 28px;
	padding-right: 15px;
	margin-bottom: 20px;
}

.title-desc {
	color: var(--basic-purple);
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	margin: 0;	
}

.title-desc-wrap .btn-red {
	width: 192px
}

.catalog {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 70px;
}

.drill {
	width: 219px;
	border: 1px solid var(--basic-border-gray);	
	box-sizing: border-box;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-right: 20px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 21px;
	padding-top: 20px;
	position: relative;
	margin-bottom: 18px;
}

.catalog .drill:nth-child(4n) {
	margin-right: 0;
}


.drill-img {
	order: -1;
	display: flex;
	width: 100%;
	min-height: 160px;
	align-items: center;
	justify-content: center;
	margin-bottom: 28px;
}

.novelty::before {
	content: "";
	width: 100px;
	height: 67px;
	left: 147px;
	top: 0px;
	position: absolute;
	background-image: url(../img/decor/flag_new.svg);
	background-repeat: no-repeat;	
}

.buy-tab {
	background-color: var(--basic-white);	
	display: none;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	top: 0;
	padding-top: 38px;
	padding-bottom: 20px;
	min-height: 90px;
}


.drill:hover .buy-tab{
	display: block;
} 

.name-drill a {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	color: var(--basic-black);
	text-decoration: none;
	display: inline-block;
	text-align: center;
	margin: 0;
	padding-bottom: 21px;
}

.name-drill {
	margin: 0;
}

.no-discount {
	margin-bottom: 37px;
}

.oldprice {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	color: var(--basic-gray);
	text-decoration-line: line-through;
	padding-top: 7px;
	display: inline-block;
	text-align: center;
	margin-bottom: 13px;
}

.firms {
	margin-bottom: 70px;	
}

.brends {
	display:flex;
	flex-wrap: wrap;
}

.brends li {
	margin-right: 20px;
	margin-bottom: 20px;
}

.brends li:nth-child(4n) {
	margin-right: 0;
}

.brends a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	border: 1px solid var(--basic-border-gray);
	min-height: 145px;
	box-sizing: border-box;
}

.services {
	background-color: var(--basic-light-blue);
	padding-top: 64px;
}

.subtitle {
	font-family: "Cuprum", "Tahoma", "Arial", sans-serif;
	text-transform: uppercase;
	color: var(--basic-black);
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 25px;
}

.text {
	color: var(--basic-black);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}

.advertising {
	width: 394px;
}

.container-services {
	display: flex;
	justify-content: space-between;
	padding-top: 64px;
	position: relative;
}

.service-title {
	color: var(--basic-blue);
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.switch {
	font-family: "Cuprum", "Tahoma", "Arial", sans-serif;
	background-color: var(--basic-purple);
	color: var(--basic-white);
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 30px;
	border: 0;
	padding: 0;
	padding-left: 22px;
	padding-right: 22px;
	width: 240px;
	padding-top: 13px;
	padding-bottom: 17px;
	text-align: left;
	box-shadow: 0px 1px 0px var(--basic-dark-blue), inset 0px 1px 0px var(--basic-shadow-light);
}

.services-items::before {
	content: "";
	width: 10px;
	height: 279px;
	left: 230px;
	position: absolute;
	background-image: url(../img/decor/shadow.png);
	background-repeat: no-repeat;		
}

.services-slider {
	width: 630px;
	margin: 0;
	padding-top: 0;
	padding-left: 10px;
}

.list-services {
	margin: 0;
	padding: 0;
	list-style: none;
}

.service-title{
	margin: 0;
	margin-bottom: 30px;
}

.slide {
	min-height: 255px;
	padding-bottom: 30px;
	background-position: right bottom;
	background-repeat: no-repeat;
}

.delivery {
    background-image: url(../img/content/delivery.png); 	
}

.delivery .text{
	width: 275px;
}

.garantia {
	background-image: url(../img/content/garantia.png); 
}

.garantia .text{
	width: 315px;
}

.credit {
	background-image: url(../img/content/credit.png); 
}

.credit .text {
	width: 278px;
	margin-bottom: 28px;
}

.credit .btn-red{
	padding-left: 44px;
	padding-right: 44px;
}

.info-company {
	display: flex;
	justify-content: space-between;
	padding-bottom: 70px;
	padding-top: 70px;
}	

.about-company {
	width: 478px;	
}

.map-address {
	width: 300px;
}

.partners {
	margin-top: 1px;
	padding: 0;
}

.partners li {
	list-style-type: none;
	position: relative;
	padding-left: 29px;
}

.partners li:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 11px;
	width: 25px;
	height: 2px;
	background-color: var(--basic-red);
}

.map-address .text {
	width: 180px;
	margin-bottom: 32px
}

.write-us {
	display: block;
	width: 100%;
	margin-bottom: 0;
	margin-top: 25px;
}

.more-detailed {
	display: block;
	width: 220px;
	margin-top: 26px;
	margin-bottom: 0px;
}

.modal-widow-map,
.write-us-modal,
.grey-box, 
.close-modal,
.success{
	display: none;
}

/* Стили страницы каталога */

.breadcrumbs {
	margin: 0;
	margin-bottom: 20px;
	padding-top: 21px;
	position: relative;
}

.breadcrumbs a {
	color: var(--basic-black);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}

.nav-page {
	display: flex;
	justify-content: flex-start;
	
}

.nav-page::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 25px;
	background-image: url(../img/icons/icon-home.svg);
	background-repeat: no-repeat;
}

.nav-page li:first-child::before {
	content: "";
	position: absolute;
	width: 7px;
	height: 12px;
	left: 110px;
	top: 25px;
	background-image: url(../img/icons/icon-right-small.svg);
	background-repeat: no-repeat;
}

.nav-page li:nth-child(2)::before {
	content: "";
	position: absolute;
	width: 7px;
	height: 12px;
	left: 230px;
	top: 25px;
	background-image: url(../img/icons/icon-right-small.svg);
	background-repeat: no-repeat;
}

.nav-page li {
	padding-right: 41px;
}

.nav-page li:last-child {
	padding-right: 0;
}

.headline {
	background-color: var(--basic-gray-smoky);
	color: var(--basic-purple);
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	margin: 0px;
	padding-bottom: 30px;
	padding-top: 29px;
	padding-left: 29px;
	margin-bottom: 20px;	
	padding-right: 739px;
}

.holder {
	display: flex;
	justify-content: flex-start;
}


/* сайдбар */

.sidebar {
	display: flex;
	flex-direction: column;	
	margin-right: 20px;
}

.filter {
	background-color: var(--basic-dark-beige);
	margin: 0;
	margin-bottom: 14px;
}

.sort-black {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
    line-height: 18px;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 18px;
	padding-right: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.left-part {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;
	border: none;
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
}

.price {
	margin: 0;
	padding: 0;
	border: none;
}

.side-options {
	padding-right: 0;
	padding-left: 0;
}

.options {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	margin-bottom: 18px;
}

.option-label {
	font-size: 15px;
	line-height: 19px;
	text-transform: uppercase;	
}

.options-list li {
	margin-bottom: 20px;
}

.options-list li:nth-last-child {
	margin-bottom: 0;
}

.range-controls {
	position: relative;
	background-color: var(--basic-dark-beige);
	height: 41px;
	margin-bottom: 9px;
	padding-top: 39px;
	padding-left: 20px;
    padding-right: 20px;
	border-radius: 5px;	
	width: 180px;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-color-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
	background-color: var(--basic-white);
	display: flex;
	justify-content: space-between;
}

.price-controls input {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 17px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: var(--basic-dark-beige);
	border: none;
	width: 90px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	
}
.min-price {
	margin-right: 30px;
}

.range-controls .scale {
	height: 2px;
	background: var(--basic-dark-gray);
}

/* сортировка */

.min-container {
	width: 700px;
	margin: 0;
	padding: 0;
}

.sorting {
	background-color: var(--basic-dark-beige);
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 28px;
}

.sort-title {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	padding-left: 20px;
	margin: 0;
	margin-right: 20px;
	width: 200px;
	text-transform: uppercase;
    font-weight: normal;
}

.sort-items {
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 18px;	
	display: flex;
	margin-right: 0px;
}

.sort-items li {
	padding-right: 55px;
}

.sort-items li:nth-child(4) {
	padding-right: 21px;
	}
	
.sort-items li:nth-child(5)	{
	padding-right: 0;
}


.sort-item a {	
	color: var(--basic-transparent-gray);
	text-decoration: none;
	border-bottom: 1px dashed var(--basic-red);
	display: inline-block;
	vertical-align: top;
}

.sort-item-active a {
	color: var(--basic-red);
	border-color: transparent;
}

.arrow-down svg {
	transform: rotate(180deg);
	margin-right: 14px;
}


/* каталог */

.tool-cards {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 48px;
}

.tool-cards .drill {
	margin-right: 20px;
}

.tool-cards .drill:nth-child(3n) {
	margin-right: 0;
} 


.page-navigation {
	margin-bottom: 59px;
}

.page-items {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.page-item { 
	margin-right: 10px;
}

.page-link,
.page-link-active {	
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.page-link-active {
	background-color: var(--basic-red);	
}

.about-name-drill {
	background-color: var(--basic-light-blue);
	padding-top: 63px;
	padding-bottom: 68px;
}

.caption {
	font-family: "Cuprum", "Tahoma", "Arial", sans-serif;
	text-transform: uppercase;
	color: var(--basic-black);
	font-size: 30px;
	line-height: 30px;
	margin: 0;
	margin-bottom: 25px;
}

.textual-content {
	color: var(--basic-black);
	font-family: "PT Sans", "Tahoma", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	margin: 0;
}


